DATABASE_URL=postgres://postgres:postgres@localhost:5432/prode
SESSION_SECRET=change-me
CRON_SECRET=change-me
API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
SIMULATION_MODE=false
SIMULATION_NOW=2026-06-10T12:00:00-03:00
